@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0; 
    font-size:18px;
    line-height:1.5; 
    font-family: 'Montserrat', sans-serif; 
    font-weight:400;
}

img { 
    max-width:100%; 
    height:auto; 
    border:none; 
    vertical-align:middle; 
}

a { 
    text-decoration:none; 
    color:#000;
}

.wrapper { 
    width: 27%;
    display:block; 
    max-width: 980px;
    margin: 0 auto; 
}

.clearfix { 
    display:block; 
}

.clearfix:before,.clearfix:after { 
    content:''; 
    width:100%; 
    display:table; 
}

.font__white, .font__white a { 
    color:#fff; 
}

.font__gray{ 
    color:#3b3d40; 
}

.font__black{
    color: #000000;
}

.font__dark__gray{ 
    color:#656b6f; 
}

.uppercase { 
    text-transform: uppercase; 
}

.text__center { 
    text-align:center; 
}

.text__right { 
    text-align:right; 
}

.text__left { 
    text-align:left; 
}

.fl { 
    float:left; 
}

.fr { 
    float:right; 
}

.ma{
    margin: 0 auto;
}

input, select{
    width: 72%;
    float: right;
    outline: none;
    /*background-color: #585a5c;*/
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    /*border-radius: 3px;*/
    /*padding: 15px 0 15px 20px;*/
}

.btn{
    color: #fff;
    font-size: 12px;
    background-color: #2e71f2;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 16px 40px;
}

a{
    color: #ffffff;
}



button{
    /*margin: 12% 34% 0 0 ;*/
}

form span {
    font-size: 10px;
    color: red;
    float: right;
    width: 72%;
}

.w15 { 
    width: 15%; 
}

.w20 { 
    width: 20%; 
}

.w25 {
     width: 25%; 
}

.w30 { 
    width: 30%; 
}

.w33 { 
    width: 33.33%; 
}

.w40 { 
    width: 40%; 
}

.w45{
    width: 45%;
}

.w50 { 
    width: 50%; 
}

.w55{
    width: 55%;
}

.w60 {
    width: 60%; 
}

.w66 { 
    width: 66.66%; 
}

.w70 { 
    width: 70%; 
}

.w75 { 
    width: 75%; 
}

.w80 { 
    width: 80%; 
}
.w90 { 
    width: 90%; 
}
.w100 { 
    width: 100%; 
}

/* ************ Main ***************** */

